# Headers from sub-libs
include/ECS
include/Network

# Header from plugins
include/Display.hpp
include/display
include/Movement.hpp
include/movement
include/Physic.hpp
include/physic

# Local Files
build/
*.a
*.so
tests/game_test/GameTest

# Editor config
.vscode
