# Headers from sub-libs
include/ECS
include/Network

# Header from plugins
include/Sfml.hpp
include/sfml
include/Physic.hpp
include/physic
include/Display.hpp
include/display
include/Interaction.hpp
include/interaction
include/entity_spec
include/EntitySpec.hpp

# Local Files
build/
*.a
*.so
tests/game_test/GameTest
doxygen/

# Editor config
.vscode
compile_flags.txt
.cache/
