name: Unit Tests

on:
  pull_request:

jobs:
  update:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Project
        run: |
          mkdir ./build/ && cd ./build/
          cmake .. -DENABLE_TESTS=ON -DENABLE_COVERAGE=ON
          cmake --build .

      - name: Run Tests
        working-directory: ./build/
        run: ctest --output-on-failure
