name: Windows Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  windows-build:
    name: Build on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: TrueMoonn/TrueEngine
          token: ${{ secrets.SUBMODULE_PRIVATE_TOKEN }}
          submodules: true

      - name: Fetch Sub-Modules
        run: |
          git submodule update --init --recursive

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -DENABLE_TE_TESTS=ON

      - name: Build Project
        run: |
          cd build
          cmake --build . --config Release

      - name: Run Tests
        working-directory: ./build/
        run: ctest -C Release --output-on-failure
